@import url('https://fonts.googleapis.com/css2?family=Poltawski+Nowy&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poltawski Nowy', serif;
}



.menu-top {
    align-items: center;
    margin-top: 170px;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 200px;
    margin-right: 200px;
    display: flex;
}

.button1 {

margin-left: -20px;
    background: url(/png/magnifier.svg);
    background-color: transparent;
    outline: none;
border: none;
    width: 21px;
    height: 21px;
}

.place {

    border-left: white;
    border-top: white;
    border-right: white;
    border-bottom: 1px #A9A9A9;
    background-color: transparent;
    border-bottom: 1px solid #A9A9A9;
    font-family: 'Poltawski Nowy', serif;

    outline: none;
}

::placeholder {

    font-size: 16px;
    font-family: 'Poltawski Nowy', serif;;
    color: #A9A9A9;
}

.button1:hover {
    cursor: pointer;
}
.poisk {

}

.hrefs {

}

.aa {
    
    text-decoration: none;
    color: #A9A9A9;
}

.bb {
    text-decoration: none;
    color: #000000;
}

.katalog1, .katalog2 {

    margin-top: 50px;
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
    align-items: baseline;
}

ul {
    list-style-type: none;
}

.catt1, .catt2, .catt3, .catt4, .catt5, .catt6 {

}

.catt1{

    margin-right: 30px;
    border-radius: 20px;
    display: flex;
background: #E3FFDE;
}

.lab {
    line-height: 30px;
    color: #86B67D;
}

.catt2{
    flex-wrap: wrap;
    width: 450px;
    margin-right: 30px;
    border-radius: 20px;
    display: flex;
background: #D1F2FA;
}

.lab1 {
    line-height: 30px;
    color: #5CA8B9;
}



.catt3{
    border-radius: 20px;
    display: flex;
background: #FFEEC1;
}

.lab2 {
    line-height: 30px;
    color: #F38B18;
}

a {
        text-decoration: none;
}

.imgimg {
margin-top: 50PX;
}

.imgimg5 {
    margin-left: 115px;
    margin-top: 50PX;
    }
    


.imgimg1 {
    margin-top: 70PX;
    }
    


.imgimg11 {
    padding-right: 10px;
        margin-top: 70PX;
}
        

        
.imgimg111 {
    margin-top: 40PX;
}
    


.ppp3 {

padding: 20px;
}

.catt4 {
    margin-right: 30px;
    height: 170px ;
    border-radius: 20px;
    display: flex;
background: #DFCCFF;
}

.catt5{
    margin-right: 30px;
    width: 380px;
    border-radius: 20px;
    display: flex;
background: #F6F6F6;

}

.catt6{
    height: 170px ;

    border-radius: 20px;
    display: flex;
background: #D1F2FA;
}



.nazvanie1{
    font-size: 30px;
}

.lab3 {
    color: #8B43FF;
    line-height: 30px;
}

.lab4 {
    color: #A9A9A9;
    line-height: 30px;
}

.lab5 {
    color: #5CA8B9;
    line-height: 30px;
}