@import url('https://fonts.googleapis.com/css2?family=Poltawski+Nowy&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poltawski Nowy', serif;
}


.socialnetwork {
    flex-wrap: wrap;
padding: 10px;
max-width: 100%;
        background-color: #A56DFF;
}

.gmail {
    margin-top: 3px;
    color: white;
}


.lineone1 {


    margin: auto 100px;
    justify-content: space-between;

    display: flex;
}


.profil-menu {
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
    align-items: center;
    display: flex;
}

.prfl {
    margin-left: 10px;
}

.pr {

    color: black;
    display: flex;
}

.header {
    width: 100%;
position: absolute;
padding: 15px;
    max-width: 100%;
    background-color: white;
    box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.329);
}


.lineone {
text-align: center;
    max-width: 100%;
margin: auto 200px;
flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    display: flex;
}


.logo {
    flex-wrap: wrap;
    font-weight: bold;
    text-decoration: none;
    color: #FFB15B;
font-size: 40px;
max-width: 100%;
    margin-top: 20px;
}

.phone {
    text-decoration: none;
    max-width: 100%;

    font-size: 15px;
    color: #A9A9A9;
}

.line {
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 20px;
}








.catalogmenu {

    max-width: 100%;


}

.catalog {
    flex-wrap: wrap;
    margin: auto;
    margin-top: 13px;
    list-style-type: none;
justify-content: center;
    display: flex;
}

.cat {
    padding: 10px;
    color: black;
    text-decoration: none;
}

.catalog2 {
    width: 160px;
    margin-top: 20px;
margin-left: -75px;
    position: absolute;
    padding: 10px;
    box-shadow: 0px 7px 6px -4px rgba(0, 0, 0, 0.329);
    background-color: white;
    list-style-type: none;
    display: none;

}



nav ul li:hover > ul {
    display: initial;
}

.line1 {
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.cat2 {
    
    color: black;
    text-decoration: none;
}
.cat2:hover {
    padding: 4px;
    background-color: #F6F6F6;
    border-radius: 6px;

}

.mailing {
    
    flex-wrap: wrap;
    justify-content:  center;
    align-items: center;
    display: flex;
    background: url(/png/mailing.png);
    height: 225px;

}

.follow {

    color: white;
    font-weight: bold;
    font-size: 30px;
    margin-right: 100px;
    margin-left: 200px;
}

.mailing5 {
    display: flex;
    align-items: center;
    align-items: flex-start;
    margin-right: 200px;
}

.button11 {

    background: url(/png/arrow.png) no-repeat 50%;
    background-color: #FFB15B;
    border-radius: 15px;
    margin-left: 10px;
    outline: none;
    border: none;
        width: 57px;
        height: 57px;
}
    


.button11:hover {
    cursor: pointer;
}

.follow11 {
    flex-direction: column
}

.follow111 {

    justify-content: space-between;
display: flex;
color: white;
}




.place1 {
    border-radius: 15px;
    width: 300px;
    padding: 20px;
    border: none;
    font-family: 'Poltawski Nowy', serif;

    outline: none;
}

.checkboxx {

    border: none;
    outline: none;
}

.checkboxx:hover {

    border: none;
    outline: none;
}



.bottom123 {
    flex-wrap: wrap;
    justify-content: space-around;
align-items: center;
    display: flex;
    background-color: #F6F6F6;
    height: 400px;
}

.logologo {
    line-height: 50px;
    text-align: center;
}

.loggo {
    font-weight: bold;
    color: #A56DFF;
    font-size: 40px;
}

.seti {
    padding: 10px;

}

.seti1 {
margin-top: 30px;

}

.p-nazv {
    font-size: 20px;
}



.content-bottom {
    flex-wrap: wrap;
    line-height: 30px;
    display: flex;
}

.catalog {

        list-style-type: none;
}


.bot11 {
    margin-left: 50px;
    list-style-type: none;
}

.bot {

    color: #A4A4A4;
    text-decoration: none;
}

.bottom-bottom {

    background-color: #A56DFF;
    height: 50px;
}

.llgg {

    color: white;
     text-decoration: none;
}

.container-logo {
    padding: 14px;
    align-items: center;
    text-align: center;
}

a {
    text-decoration: none;
}
